<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= locals.page?.title || 'Page Title' %></title>
<meta name="description" content="<%= locals.page?.desc || 'Page description' %>">
